$font-family-icones: 'FontAwesome';
$font-family-texte: 'Avenir Next',
'Avenir',
sans-serif;


#div-menu-contextuel {
    display: flex;
    z-index: 200;
    position: absolute;

    border-radius: 12px;
    box-shadow: 0 0 12px black;
    background: black;
    color: white;
    font-size: 18x;
    font-weight: normal;

    opacity: 95%;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
}

.liste-deroulante {
    list-style: none;
    margin-right: 20px;
}

ul.liste-deroulante {
    margin: 10px;
    padding-left: 8px;
    border: 0px;
}

.liste-deroulante li {
    padding: 6px 8px;
    cursor: pointer;
    font-family: $font-family-texte;

    &:before {
        padding-right: 8px;
        font-family: $font-family-icones;
    }
}

.liste-deroulante li:not(.blank)::before {
    content: "\f00d";
}

.liste-deroulante li.moveBack::before {
    content: "\f062";
}

.liste-deroulante li.moveFront::before {
    content: "\f063";
}

.liste-deroulante li.add::before {
    content: "\f067";
}

.liste-deroulante li.delete::before {
    content: "\f014";
}

.liste-deroulante li.choose::before {
    content: "\f05b";
}

.liste-deroulante li.disabled {
    cursor: not-allowed;

    &:hover {
        background-color: #202020;
    }
}

.liste-deroulante hr {
    background-color: grey;
    height: 1px;
    border: 0;
    margin: 2px 0px;
}


/* Pour le dat.gui */
.dg .property-name {
    width: 70% !important;
}

.dg .c {
    width: 20% !important;
}
