html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
}


/************   Affichage message d'info ou d'erreur   ***************/
.infos {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#message-info {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: 20px;
}

.alerte {
    font-weight: bold;
    color: red;
}

.normal {
    font-weight: normal;
    color: white;
}


/*****************  Logo  *******************/

.logo {
    position: absolute;
    transform: scale(0.7);
    bottom: 10px;
    right: 50px;
}

.image-logo {
    filter: drop-shadow(5px 5px 5px black);
}


/*****************  Aide en ligne  *******************/

.div-aide {
    display: flex;
    position: absolute;
    align-items: flex-end;
    bottom: 10px;
    right: -660px;
    z-index: 200;
    margin: 10px;
    opacity: 90%;
    transition: all .5s ease-in;
}

.div-aide:hover {
    transform: translateX(-660px);
}

.div-aide .div-icone {
    width: 46px;
    padding: 8px;
    justify-content: center;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}

.div-aide .div-contenu {
    height: auto;
    background-color: white;
    padding: 15px 10px 0px 30px;
    border-radius: 10px 10px 10px 0px;
}

.texte-aide {
    padding-left: 0px;
    list-style: none;
}

.texte-aide > h3 {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.texte-aide > li {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
    text-align: justify-all;
}

.texte-aide > li:before {

    font-family: "FontAwesome";
    content: "\f105";
    margin-right: 8px;
}

.image-aide {
    margin-right: 10px;
    align-content: center;
}


/************   DAT.GUI    *********/

.dg.ac {
    margin-top: 28px;
    margin-right: 38px;
    z-index: 100;
}


/************   Popup d'alerte    *********/
#popup-alert {
    display: grid;
    grid-template-areas:
        'titre'
        'bouton bouton bouton';
    grid-gap: 1.5rem;
    opacity: 85%;
    position: fixed;
    justify-content: center;
    justify-items: center;
    align-content: center;

    width: 480px;
    height: auto;
    padding: 20px;
    margin-top: 5vh;
    margin-left: 35vw;

    background-color: #e6e6e6;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .5s ease-in;
    box-shadow: 0 0 12px black;
}

#popup-alert #titre-popup {
    grid: texte;
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

#popup-alert button {
    grid: bouton;
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
    margin-right: 10px;
}


/************   Popup de choix d'une ouverture   *********/

/* Masque semi-transparent sous la popup des ouvertures */
#overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 250;
}

.popup-ouverture {
    display: flex;
    position: fixed;
    z-index: 300;
    justify-content: center;
    flex-wrap: wrap;

    height: auto;
    padding: 20px;

    background-color: #e6e6e6;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .5s ease-in;
    box-shadow: 0 0 12px black;
}

#popup-ouverture-out {
    width: 700px;
}

#popup-ouverture-in {
    width: 750px;
}

#popup-plancher {
    width: 800px;
}

.popup-ouverture #titre-popup {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 18px;
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.popup-ouverture .container-images {
    display: flex;
    width: 90%;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
    margin: 0px 30px;
}

.popup-ouverture .container-images figure.normal {
    cursor: pointer;
    justify-content: center;
    color: black;
    opacity: 100%;
    transition: all .2s ease-in-out;
}

.popup-ouverture .container-images figure:hover {
    transform: scale(1.2);
}

.popup-ouverture .container-images figure.disabled {
    cursor: not-allowed;
    color: gray;
    opacity: 40%;
    transform: none;
}

.popup-ouverture .popup-ouverture-image {
    width: 64px;
    height: auto;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 5px;
}

.popup-ouverture .container-images figcaption {
    text-align: center;
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
    line-height: 1em;
    margin-top: 10px;
}

.popup-ouverture .popup-ouverture-texte {
    font-family: "Avenir next", "Avenir", sans-serif;
    width: 100%;
    font-size: 14px;
    font-style: italic;
    margin: 20px 20px;
}

.popup-ouverture button {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
    text-align: center;
}

#popup-plancher button {
    margin-top: 15px;
}

#popup-plancher .container-images img {
    width: 32px;
    border-radius: 0px;
}

/**********************************    Changement d'angle de vue   *************************************/
#changement-vue {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 10% 70% 10%;
    position: fixed;
    bottom: 90px;
    right: 110px;
    z-index: 100;
    padding: 30px;
    align-items: center;
    justify-items: center;
    height: 130px;
}


#changement-vue div {
    font-size: 16px;
    cursor: pointer;
    color: white;
}

#changement-vue .bouton-fleche:hover {
    transform: scale(1.6);
    transition: all .5s ease-in-out;
}

#changement-vue div.actif {
    color: red;
    font-size: 30px !important;
}


#changement-vue div#aerien {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 70px;
    font-size: 26px;

}

#changement-vue div#dessus {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 15px;
}

#changement-vue div#arriere {
    grid-column: 3;
    grid-row: 2;
    margin-bottom: -10px;
}

#changement-vue div#arriere i,
div#avant i {
    transform: rotate(-45deg);
}

#changement-vue div#avant {
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 10px;
}

#changement-vue div#gauche {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: -10px;
}

#changement-vue div#gauche i,
div#droite i {
    transform: rotate(45deg);
}

#changement-vue div#droite {
    grid-column: 3;
    grid-row: 4;
    margin-bottom: 10px;
}


#changement-vue div:not(.bouton-fleche) {
    grid-column: 2;
    grid-row: 3;
}

#changement-vue div > img {
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}


/**************************    Bouton permettant de quitter la vue aérienne   ***********************************/
#vue-aerienne {
    position: fixed;
    right: 20px;
    bottom: 270px;
}

#quitter-vue-aerienne {
    display: flex;
    width: 280px;
    height: 50px;
    justify-content: center;
    align-content: center;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -20px 20px 25px;
}

#quitter-vue-aerienne span {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    align-self: center;
    justify-self: center !important;
}


#zoom {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


#zoom button {
    font-size: 30px;
    color: red;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 15px;
}
