html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
}


/************   Affichage message d'info ou d'erreur   ***************/
.infos {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#messageInfo {
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: 20px;
}

.alerte {
    font-weight: bold;
    color: red;
}

.normal {
    font-weight: normal;
    color: white;
}


/*****************  Logo  *******************/

.logo {
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.imageLogo {
    filter: drop-shadow(5px 5px 5px black);
}


/*****************  Aide en ligne  *******************/

.divAide {
    display: flex;
    position: absolute;
    align-items: flex-start;
    align-content: center;
    bottom: 200px;
    right: -620px;
    padding: 8px;

    background-color: white;
    border: 1px solid #4d5ee0;
    border-radius: 10px;
    opacity: 80%;

    transition: all .5s ease-out;
    box-shadow: 0 0 12px black;
}

.divAide:hover {
    transform: translateX(-620px);
}

.texteAide {
    padding-left: 0px;
    list-style: none;
}

.texteAide > h3 {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.texteAide > li {
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
}

.texteAide > li:before {
    font-family: "Glyphicons Halflings";
    content: "\e258";
    margin-right: 8px;
}

.imageAide {
    margin-right: 10px;
    align-content: center;
}


/************   DAT.GUI    *********/

.dg.ac {
    margin-top: 30px;
    margin-right: 30px;
    z-index: 200;
}


/************   Popup de choix    *********/
#popup {
    display: grid;
    grid-template-areas:
        'titre'
        'bouton bouton bouton';
    grid-gap: 1.5rem;
    opacity: 85%;
    position: fixed;
    justify-content: center;
    justify-items: center;
    align-content: center;

    width: 480px;
    height: auto;
    padding: 20px;
    margin-top: 5vh;
    margin-left: 35vw;

    background-color: #5a5a5a;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .5s ease-in;
    box-shadow: 0 0 12px black;
}

#popup > span {
    grid: texte;
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 16px;
    color: white;
    margin: 0px 8px;
}

#popup button {
    grid: bouton;
    font-family: "Avenir next", "Avenir", sans-serif;
    font-size: 14px;
    margin-right: 10px;
}
